* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

/* --- Grid --- */

.grid-container > * {
    text-align: center;
    background-color: orange;
}

.grid-container {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 7em 35em 45em 25em 12em 45em;
}

.header {
    grid-area: header;
    grid-row: 1;
}

.main {
    grid-area: main;
    background-color: #4F6F8C;
    grid-row: 2;
}

.sobremi {
    grid-area: sobremi;
    background-color: #7292A6;
    grid-row: 3;
}

.habilidades {
    grid-area: habilidades;
    background-color: #BACDD9;
    grid-row: 4;
}

.trabajos {
    grid-area: trabajos;
    background-color: #E9EFF2;
    grid-row: 5;
}

.contacto {
    grid-area: contacto;
    background-color:#1E3859;
    grid-row: 6;
}


/* Computadoras grandes, 1200px o más*/
@media (max-width: 1200px) {
    body { 
        font-size: 14px;
    }
    .grid-container {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 7em 35em 35em 25em 12em 45em;
    }
}

/* Computadoras, 992px o más*/
@media (max-width: 992px) {

    body { 
        font-size: 16px;
    }

    .grid-container {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 7em 35em 40em 23em 12em 45em;
    }
}

/* Tablets, 795px o más */
@media (max-width: 795px) {
    body { 
        font-size: 18px;
    }

    .grid-container {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 9em 35em 40em 20em 12em 82em;
    }

}

/* Teléfonos, 576px o más*/
@media (max-width: 576px) {
    body { 
        font-size: 20px;
    }

    .grid-container {
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: 10em 32em 70em 15em 12em 90em;
    }
}